/courses/cs3/MapProject/build/
/courses/cs3/MapProject/nbproject/private/
/courses/cs3/TreeProject/build/
/courses/cs3/TreeProject/dist/
/courses/cs3/TreeProject/nbproject/private/
/courses/cs3/listset/nbproject/private/
/courses/cs4/BabelFish/nbproject/private/
/courses/signal-processing/dsp-files/build/
/courses/signal-processing/dsp-files/nbproject/private/
/misc_contests/codeforces582/build/
/misc_contests/codeforces582/nbproject/private/
/courses/cs4/movie_reviewer/nbproject/private/
/courses/cs4/movie_reviewer/build/
/courses/cs4/BabelFish_translator/nbproject/private/
/misc_contests/UVa/nbproject/private/
/courses/cs4/movie_reviewer/dist/
/courses/cs4/movierev1.0/nbproject/private/
/courses/cs4/movierev1.0/build/
/courses/cs4/utils/nbproject/private/
/courses/cs4/Mihir Shah movie reviewer/nbproject/private/
/courses/cs4/Mihir Shah movie reviewer/build/
/courses/cs4/Mihir Shah movie reviewer/dist/
/courses/cs4/UILCS2/nbproject/private/
/courses/cs4/UILCS2/build/
/courses/cs4/Loc8r/nbproject/private/
/courses/cs4/Loc8r/build/