<form>
	Name: <input type="text" id="name"></input><br></br>
	Pet: <input type="text" id="pet"></input><br></br>
	<button onClick="fx()">SEND</button>
	
	<script>
		function fx() {
			
		}
	</script>
</form>